@font-face {
    font-family: Nimbus Sans L;
    src: url("./fonts/NimbusSanL-Reg.otf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nimbus Sans L', sans-serif;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#nav{
    position: relative;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
}

#nleft{
    display: flex;
    gap: 30px;
}
#nav a{
    font-weight: 800;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
#nav #centeratag{
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0 10vw;
}

#sustain{
    width: 10vw;
}

#sustain p{
    font-size: 12.2px;
    text-transform: capitalize;
    opacity: 0.5;
    line-height: 1;
    font-weight: 800;
    margin: 10px 0;
}

#sustain #susimagewrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}
#sustain #susimagewrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ephemeral{
    width: 30vw;
    min-height: 42vw;
    position: relative;
}

#imgntext{
    width: fit-content;
    height: fit-content;
}

#ephemeral #headings{
    top: -22%;
    left: -20%;
    z-index: 2;
    position: absolute;
}

#ephemeral img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

#ephemeral p{
    margin-top: 30px;
    font-size: 1.3vw;
    width: 40%;
    letter-spacing: -.07vw;
    line-height: 1.3;
}

#ephemeral h1{
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: -.4vw;
    line-height: 1;
}

#visit{
    display: flex;
    gap: 10px;
    align-items: center;
}

#circlev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid #5e5e5e;
}
#circlev i{
    color: #5e5e5e;
}

#visit h3{
    color: #5e5e5e;
    font-weight: 500;
}

#motive{
    margin-top: 7vw;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}

#motive p{
    line-height: 1.7;
    letter-spacing: -.12vw;
    position: relative;
    right: 0;
    text-align: right;
    font-size: 2.1vw;
    width: 85%;
}

#motive span{
    display: inline-block;
    border-radius: 100px;
    margin: 0 13px;
    margin-bottom: -12.5px;
    background-color: #d9d9d9;
}

#onespan{    
    width: 80px;
    height: 50px;
    background-image: url(./images/bluegirl.jpg);
    background-size: cover;
    background-position: 0% 60%;
}

#twospan{
    width: 130px;
    height: 60px;    
    background-image: url(./images/shaljam.jpg);
    background-size: cover;
    background-position: 0% 48%;
}

#threespan{
    width: 80px;
    height: 50px;
    background-image: url(./images/grass.jpg);
    background-size: cover;
    background-position: 0% 48%;
}

#pictures{
    display: flex;
    justify-content: space-between;
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
}

#firstpic{
    width: 17vw;

}

#firstpic #picimg{
    width: 100%;
    height: 24vw;
    object-fit: cover;
    margin-bottom: 1vw;
}

#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstpic h1, #secpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;
}

#firstpic p, #secpic p{
    opacity: 0.7;
    font-size: 1vw;
    letter-spacing: -.05vw;
    line-height: 1;
    margin-top: 10px;
}

#secpic{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#secpic #picimg{
    width: 100%;
    height: 37vw;
    object-fit: cover;
    margin-bottom: 1vw;
}

#secpic p{
    width: 50%;
    text-align: right;
}

#banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8vw;
}

#bimg{
    width: 65%;
    height: 60vh;
}
#bimg img{
    width: 100%;
    height: 100%;
    object-position: 0% 70%;
    object-fit: cover;
}

#btext{
    width: 35%;
    padding: 0 3vw;
}

#btext h1{
    font-size: 2.8vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.15vw;
}

#btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}

#future{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#future video{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9999;
    background-color: #fff;
    padding: 1vw 2vw;
    border-radius: 10px;
}

#ftext button{
    padding: 0.7vw 1.7vw;
    font-size: 0.6vw;
    text-transform: capitalize;
    margin-top: 10px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    color: #6f6f6f;
}